:root {
    --cp-bg: #1E1E2E;
    --cp-surface: #313244;
    --cp-overlay: #45475A;
    --cp-text: #EFF0F4;
    --cp-subtext1: #BAC2DE;
    --cp-subtext0: #A6ADC8;
    --cp-accent: #89B4FA;
}

:root[data-theme-catppuccin-flavor="latte"] {
    --cp-bg: #eff0f1;
    --cp-surface: #e6e9ef;
    --cp-overlay: #dce0e8;
    --cp-text: #4c4f69;
    --cp-subtext1: #5c5f77;
    --cp-subtext0: #6c6f85;
    --cp-accent-rosewater: #dc8a78;
    --cp-accent-flamingo: #dd7878;
    --cp-accent-pink: #f5c2e7;
    --cp-accent-mauve: #8839ef;
    --cp-accent-red: #d20f39;
    --cp-accent-maroon: #e64553;
    --cp-accent-peach: #fe640b;
    --cp-accent-yellow: #df8e1d;
    --cp-accent-green: #40a02b;
    --cp-accent-teal: #179299;
    --cp-accent-sky: #04a5e5;
    --cp-accent-sapphire: #209fb5;
    --cp-accent-blue: #1e66f5;
    --cp-accent-lavender: #7287fd;
}

:root[data-theme-catppuccin-flavor="frappe"] {
    --cp-bg: #303446;
    --cp-surface: #292c3c;
    --cp-overlay: #232634;
    --cp-text: #cad3f5;
    --cp-subtext1: #b8c0e0;
    --cp-subtext0: #a5adcb;
    --cp-accent-rosewater: #f2d5cf;
    --cp-accent-flamingo: #eebebe;
    --cp-accent-pink: #f4b8e4;
    --cp-accent-mauve: #ca9ee6;
    --cp-accent-red: #e78284;
    --cp-accent-maroon: #ea999c;
    --cp-accent-peach: #ef9f76;
    --cp-accent-yellow: #e5c890;
    --cp-accent-green: #a6d189;
    --cp-accent-teal: #81c8be;
    --cp-accent-sky: #99d1db;
    --cp-accent-sapphire: #85c1dc;
    --cp-accent-blue: #8caaee;
    --cp-accent-lavender: #babbf1;
}

:root[data-theme-catppuccin-flavor="macchiato"] {
    --cp-bg: #24273a;
    --cp-surface: #1e2030;
    --cp-overlay: #181926;
    --cp-text: #cad3f5;
    --cp-subtext1: #b8c0e0;
    --cp-subtext0: #a5adcb;
    --cp-accent-rosewater: #f4dbd6;
    --cp-accent-flamingo: #f0c6c6;
    --cp-accent-pink: #f5bde6;
    --cp-accent-mauve: #c6a0f6;
    --cp-accent-red: #ed8796;
    --cp-accent-maroon: #ee99a0;
    --cp-accent-peach: #f5a97f;
    --cp-accent-yellow: #eed49f;
    --cp-accent-green: #a6da95;
    --cp-accent-teal: #8bd5ca;
    --cp-accent-sky: #91d7e3;
    --cp-accent-sapphire: #7dc4e4;
    --cp-accent-blue: #8aadf4;
    --cp-accent-lavender: #b7bdf8;
}

:root[data-theme-catppuccin-flavor="mocha"] {
    --cp-bg: #1e1e2e;
    --cp-surface: #302d41;
    --cp-overlay: #575268;
    --cp-text: #cdd6f4;
    --cp-subtext1: #bac2de;
    --cp-subtext0: #a6adc8;
        --cp-accent-rosewater: #f5e0dc;
    --cp-accent-flamingo: #f2cdcd;
    --cp-accent-pink: #f5c2e7;
    --cp-accent-mauve: #cba6f7;
    --cp-accent-red: #f38ba8;
    --cp-accent-maroon: #eba0ac;
    --cp-accent-peach: #fab387;
    --cp-accent-yellow: #f9e2af;
    --cp-accent-green: #a6e3a1;
    --cp-accent-teal: #94e2d5;
    --cp-accent-sky: #89dceb;
    --cp-accent-sapphire: #74c7ec;
    --cp-accent-blue: #89b4fa;
    --cp-accent-lavender: #b4befe;
}

:root[data-theme-catppuccin-accent="rosewater"] {
  --cp-accent: var(--cp-accent-rosewater);
}
:root[data-theme-catppuccin-accent="flamingo"] {
  --cp-accent: var(--cp-accent-flamingo);
}
:root[data-theme-catppuccin-accent="pink"] {
  --cp-accent: var(--cp-accent-pink);
}
:root[data-theme-catppuccin-accent="mauve"] {
  --cp-accent: var(--cp-accent-mauve);
}
:root[data-theme-catppuccin-accent="red"] {
  --cp-accent: var(--cp-accent-red);
}
:root[data-theme-catppuccin-accent="maroon"] {
  --cp-accent: var(--cp-accent-maroon);
}
:root[data-theme-catppuccin-accent="peach"] {
  --cp-accent: var(--cp-accent-peach);
}
:root[data-theme-catppuccin-accent="yellow"] {
  --cp-accent: var(--cp-accent-yellow);
}
:root[data-theme-catppuccin-accent="green"] {
  --cp-accent: var(--cp-accent-green);
}
:root[data-theme-catppuccin-accent="teal"] {
  --cp-accent: var(--cp-accent-teal);
}
:root[data-theme-catppuccin-accent="sky"] {
  --cp-accent: var(--cp-accent-sky);
}
:root[data-theme-catppuccin-accent="sapphire"] {
  --cp-accent: var(--cp-accent-sapphire);
}
:root[data-theme-catppuccin-accent="blue"] {
  --cp-accent: var(--cp-accent-blue);
}
:root[data-theme-catppuccin-accent="lavender"] {
  --cp-accent: var(--cp-accent-lavender);
}


  :root {
    --zen-colors-primary: var(--cp-surface) !important;
    --zen-primary-color: var(--cp-accent) !important;
    --zen-colors-secondary: var(--cp-surface) !important;
    --zen-colors-tertiary: var(--cp-overlay) !important;
    --zen-colors-border: var(--cp-accent) !important;

    --toolbarbutton-icon-fill: var(--cp-accent) !important;
    --lwt-text-color: var(--cp-text) !important;
    --toolbar-field-color: var(--cp-text) !important;
    --tab-selected-textcolor: var(--cp-text) !important;
    --toolbar-field-focus-color: var(--cp-text) !important;
    --toolbar-color: var(--cp-text) !important;
    --newtab-text-primary-color: var(--cp-text) !important;
    --arrowpanel-color: var(--cp-text) !important;

    --arrowpanel-background: var(--cp-bg) !important;
    --sidebar-text-color: var(--cp-text) !important;
    --lwt-sidebar-text-color: var(--cp-text) !important;
    --lwt-sidebar-background-color: var(--cp-overlay) !important;

    --toolbar-bgcolor: var(--cp-surface) !important;
    --newtab-background-color: var(--cp-bg) !important;
    --zen-themed-toolbar-bg: var(--cp-overlay) !important;
    --zen-main-browser-background: var(--cp-overlay) !important;
    --toolbox-bgcolor-inactive: var(--cp-overlay) !important;
  }

  #TabsToolbar {
    background-color: var(--cp-overlay) !important;
    color: var(--cp-text) !important;
  }

  #nav-bar {
    background-color: var(--cp-surface) !important;
    color: var(--cp-text) !important;
  }

  .urlbar-background {
    background-color: var(--cp-bg) !important;
  }

  .urlbarView-url {
    color: var(--cp-accent) !important;
  }

  hbox#titlebar,
  #zen-appcontent-navbar-container {
    background-color: var(--cp-overlay) !important;
  }

.identity-color-blue {
  --identity-tab-color: var(--cp-accent-blue) !important;
  --identity-icon-color: var(--cp-accent-blue) !important;
}

.identity-color-green {
  --identity-tab-color: var(--cp-accent-green) !important;
  --identity-icon-color: var(--cp-accent-green) !important;
}

.identity-color-red {
  --identity-tab-color: var(--cp-accent-red) !important;
  --identity-icon-color: var(--cp-accent-red) !important;
}

.identity-color-yellow {
  --identity-tab-color: var(--cp-accent-yellow) !important;
  --identity-icon-color: var(--cp-accent-yellow) !important;
}

.identity-color-teal {
  --identity-tab-color: var(--cp-accent-teal) !important;
  --identity-icon-color: var(--cp-accent-teal) !important;
}

.identity-color-pink {
  --identity-tab-color: var(--cp-accent-pink) !important;
  --identity-icon-color: var(--cp-accent-pink) !important;
}

.identity-color-mauve {
  --identity-tab-color: var(--cp-accent-mauve) !important;
  --identity-icon-color: var(--cp-accent-mauve) !important;
}

.identity-color-lavender {
  --identity-tab-color: var(--cp-accent-lavender) !important;
  --identity-icon-color: var(--cp-accent-lavender) !important;
}

.identity-color-rosewater {
  --identity-tab-color: var(--cp-accent-rosewater) !important;
  --identity-icon-color: var(--cp-accent-rosewater) !important;
}

.identity-color-flamingo {
  --identity-tab-color: var(--cp-accent-flamingo) !important;
  --identity-icon-color: var(--cp-accent-flamingo) !important;
}

.identity-color-maroon {
  --identity-tab-color: var(--cp-accent-maroon) !important;
  --identity-icon-color: var(--cp-accent-maroon) !important;
}

.identity-color-peach {
  --identity-tab-color: var(--cp-accent-peach) !important;
  --identity-icon-color: var(--cp-accent-peach) !important;
}

.identity-color-sky {
  --identity-tab-color: var(--cp-accent-sky) !important;
  --identity-icon-color: var(--cp-accent-sky) !important;
}

.identity-color-sapphire {
  --identity-tab-color: var(--cp-accent-sapphire) !important;
  --identity-icon-color: var(--cp-accent-sapphire) !important;
}